NET "clock" LOC = "B8";
NET "SA" LOC = "G18";
NET "fire" LOC = "H18";
NET "reload" LOC = "K18";
NET "radar_1" LOC ="L13";
NET "radar_2" LOC = "N17";
NET "radar_3" LOC = "R17";
NET "a" LOC = "L18"; 
NET "b" LOC = "F18"; 
NET "c" LOC = "D17"; 
NET "d" LOC = "D16"; 
NET "e" LOC = "G14"; 
NET "fp" LOC = "J17"; 
NET "g" LOC = "H14"; 
NET "dp" LOC = "C17"; 
NET "AN3" LOC = "F15"; 
NET "AN2" LOC = "C18"; 
NET "AN1" LOC = "H17"; 
NET "AN0" LOC = "F17";